[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/LuaBridge"]
	path = deps/LuaBridge
	url = https://github.com/vinniefalco/LuaBridge.git
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp.git
[submodule "deps/lodepng"]
	path = deps/lodepng
	url = https://github.com/lvandeve/lodepng.git
